body{
	background: #202028;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 2em;
	text-align: center;
}

canvas{
	border: solid .2em #fff;
	height: 90vh;
	float: left;;
}

img{
	height: 91.4vh;
}
.help{
	float: left;
	height: 50%;
	width: 20%;
	padding-left: 20px;
}
.score{
	float: left;
	margin-top: 30%;
	padding-right: 20px;
}

#score{
	margin-bottom: 20%;
}

.wrapper{
	max-width: 1080px;
	margin: 0 auto;
	padding: 20px;
}

.cfx::before, .cfx::after{
    display: table;
    content: "";
    line-height: 0;
}
.cfx::after{
    clear: both;   
}