body{
	background: #202028;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 2em;
	text-align: center;
}

canvas{
	border: solid .2em #fff;
	height: 90vh;
}

.score{
	float: left;
	margin-top: 40%;
}

#score{
	margin-bottom: 20%;
}

.wrapper{
	max-width: 1080px;
	margin: 0 auto;
	padding: 20px;
}

.cfx::before, .cfx::after{
    display: table;
    content: "";
    line-height: 0;
}
.cfx::after{
    clear: both;   
}